@import './variables.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    margin: 0;
    font-family: system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--primary);
    background-image: var(--bg-gradient);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin: 0;
}

main {
    width: 50%;
    min-width: 300px;
    padding: 10%;
    background-color: var(--white);
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.7rem;
}

h2 {
    color: var(--black-light);
    margin-bottom: 20px;
    font-size: 1.6em;
}

button {
    padding: 12px 25px;
    font-size: 1.1em;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
}

button:hover {
    background-color: var(--secondary);
}

.section {
    border: 1px solid var(--grey-light);
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    background-color: var(--white);
    overflow: hidden;
    min-height: 350px;
    /* Important for slide-in animation */
    position: relative;
    /* For loader and slide-in positioning */
}

.section:nth-child(4){
    justify-content: start;
}

/*  -----------------------------------------------------------
            Challenge 2: Button Hover Size Change
---------------------------------------------------------------- */
.hoverButton {
    background-color: var(--secondary);
}

/*  -----------------------------------------------------------
            Challenge 4: Slide-in Div
---------------------------------------------------------------- */

.slide-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    /* To position the slide-in box */
}